.goods_info_top_mbx {
  margin: 20px auto;

  .el-breadcrumb__item {
    line-height: 24px;
    font-size: 13px;

    /deep/.el-breadcrumb__inner a,
    /deep/.el-breadcrumb__inner.is-link {
      font-weight: 400;
    }

    .brandsearch {
      border-radius: 0;
    }
  }

  .mianbao_lastitem {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .keyword_font_color {
      color: $main_color;
    }
  }
}

.catelogul {
  display: inline-block;
  position: relative;

  .title {
    width: 100%;
    height: 24px;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
  }

  .other_title {
    position: absolute;
    left: 0;
    top: 23px;
    z-index: 2;
    padding: 10px;
    width: 300px;
    border: 1px solid $main_color;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    display: none;

    .item {
      width: 150px;
    }

    .item span:hover {
      color: $main_color;
      cursor: pointer;
    }
  }
}