.user_content_blcok {
  background: #EFFBF5;
  .comment_success_content {
    display: flex;
    width: 400px;
    margin: auto;
    padding: 50px 0;
    .success {
      color: #81f79f;
      font-size: 80px;
    }
    .font {
      width: 100%;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .line1 {
      font-size: 16px;
      color: #555;
      font-weight: 700;
    }
    .line2 {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: #819fdb;
    }
    .line2_left:hover,
    .line2_right:hover {
      cursor: pointer;
      color: $main_color;
      transition: 0.5s;
    }
  }
}